@import url("styleLogin.css");
@import url("styleStartPage.css");
@import url("styleDates.css");
@import url("styleBurger.css");
@import url("styleHorseCreator.css");

:root{
  --background: #00B543;
}

body{
  background: var(--background);
  font-family: 'Sawarabi Mincho', sans-serif;
}

#logo{
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0px;
  left: 0px;
}

#headline{
  position: absolute;
  left: 250px;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 50px;
}

#headlinePeter{
  position: absolute;
  transform: scaleX(-1);
  height: 125px;
  width: auto;
  left: 880px;
}

#parentPage{
    position: absolute;
    top: 150px;
    width: 99%;
    height: auto;
}
