/* Quelle https://codepen.io/eduardoboucas/pen/BNyKwO */
:root{
  --burgerThickness: 4px;
}

.burgerLabel {
  position: absolute;
  top: 10px;
  right: 10px;
	display: inline-block;
  border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	border-bottom: var(--burgerThickness) solid currentColor;
	width: 28px;


	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out;
}

.burgerLabel::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

.burgerLabel::before {
		content: "";
		display: block;
		border-bottom: var(--burgerThickness) solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
	}

	.burgerLabel::after {
		content: "";
		display: block;
		border-bottom: var(--burgerThickness) solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger {
    display: none;
}

.burger:checked ~ .burgerLabel {
  border-bottom: var(--burgerThickness) solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}

.burger:checked ~ .burgerLabel::before  {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

.burger:checked  ~ .burgerLabel::after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: all 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navigation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  text-align: right;
}

.burger:checked ~ .navigation {
  max-height: 500px;

  transition: max-height 0.5s ease-in-out;
}

.burgerList{
  padding-top: 20px;
  padding-right: 10px;
}

.burgerListItem{
  list-style: none;
  padding: 5px 0;
}

.burgerListContent{
  text-decoration: none;
  color: black;
}

.burgerListContent:hover{
  text-decoration: underline;
}
