.peter{
  position: absolute;
  height: 500px;
  width: auto;
  top: 150px;
}

.petersWords{
  position: absolute;
  height: 350px;
  width: 400px;
  left: 450px;

}

.peterIsTalking{
  position: absolute;
  top: 90px;
  left: 500px;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 20px;
}

.horseInteractionInputContainer{
  position: absolute;
  left: 500px;
  top: 450px;
}

#horseInteractionInput{
  height: 35px;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 25px;
}

#horseInteractionFeedback{
  color: #00B543;
}

#horseInteractionBack{
  position: absolute;
  top: 200px;
  left: 0%;
  height: 80px;
  width: 70px;
  opacity: 0.7;
}

#horseInteractionForward{
  position: absolute;
  top: 200px;
  right: 0%;
  transform: rotate(180deg);
  height: 80px;
  width: 70px;
  opacity: 0.7;
}

#horseInteractionProgress{
  position: absolute;
  left: 500px;
  top: 500px;
}
